<div class="page-header">
  <h1>Live Projects</h1>
</div>

<h2><%= Date.today.strftime("%d/%b/%Y") %></h2>
<p><%= pluralize(@projects.count, "project") %> live</p>
<% max_release_date = @projects.maximum(:expected_release_date) %>
<%
  date_range = Date.today..max_release_date
  date_months = date_range.map {|d| Date.new(d.year, d.month, 1) }.uniq
%>

<% date_months.each do |date| %>
  <div>
    <h2><%= date.strftime "%B %Y" %></h2>
    <table class="display table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Deadline</th>
          <th>Budget</th>
          <th>Money</th>
          <th>Design</th>
          <th>Front</th>
          <th>Back</th>
          <th>Data</th>
          <th>Research</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <% if project.expected_release_date <= max_release_date %>
            <% months_to_deadline = [(project.expected_release_date.month - Date.today.month).to_i,1].max %>
            <tr>
              <td><%= link_to project.title, edit_project_path(project) %></td>
              <td>
                <%= project.expected_release_date %>
                <%= if project.expected_release_date.month == date.month then "FINISHES THIS MONTH!" end %>
              </td>
              <td><%= number_to_currency(project.budget) %> (<%= number_to_currency(project.money_spent) %>)</td>
              <td>
                <%= number_to_currency((project.budget-project.money_spent) / months_to_deadline) %>
              </td>
              <td><%= project.design_days.present? ? (project.design_days/months_to_deadline) : "n/a" %></td>
              <td><%= project.frontend_days.present? ? (project.frontend_days/months_to_deadline) : "n/a" %></td>
              <td><%= project.backend_days.present? ? (project.backend_days/months_to_deadline) : "n/a" %></td>
              <td><%= project.data_days.present? ? (project.data_days/months_to_deadline) : "n/a" %></td>
              <td><%= project.research_days.present? ? (project.research_days/months_to_deadline) : "n/a" %></td>
              <td><%= link_to "Add report", new_project_monthly_report_path(project) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
