<div class="page-header">
  <h1>Live Projects</h1>
</div>

<h2><%= Date.today.strftime("%d/%b/%Y") %></h2>
<p><%= pluralize(@projects.count, "project") %> live</p>
<% max_release_date = @projects.maximum(:expected_release_date) %>
<%
  date_range = Date.today..max_release_date
  date_months = date_range.map {|d| Date.new(d.year, d.month, 1) }.uniq
%>

<% date_months.each do |date| %>
  <div>
    <h2><%= date.strftime "%b/%Y" %></h2>
    <% @projects.each do |project| %>
      <% if project.expected_release_date <= max_release_date %>
        <% months_to_deadline = (project.expected_release_date.month - Date.today.month).to_i %>
        <div style="border-bottom: 1px dashed black; padding-top: 5px;">
          <p><strong>Title:</strong> <%= project.title %></p>
          <p><strong>Deadline:</strong> <%= project.expected_release_date %>
            <%= if project.expected_release_date.month == date.month then "FINISHES THIS MONTH!" end %>
          </p>
          <p><strong>Budget:</strong> <%= number_to_currency(project.budget) %></p>
          <p><strong>Money Spent:</strong> <%= number_to_currency(project.money_spent) %></p>
          <p>
            <strong>Money to spend:</strong>
            <%= number_to_currency((project.budget-project.money_spent) / (months_to_deadline > 0 ? months_to_deadline : 1)) %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
